<div class='pages'>
<%= render 'layouts/top', locals: {header: 'pages#requirements'} %>
</div>

<p>
There is a restaurant that requires a reservation system. The restaurant only has the following characteristics:
</p>
<ul>
  <li>Only has 2 tables, a 2-person table and a 4-person table</li>
  <li>All reservations are 2 hours in length</li>
  <li>The restaurant is open Monday through Friday 5pm to 10pm.</li>
</ul>
<p>Write a system that will accept reservation requests and create them if the business rules are followed. </p>
